.gradle

.idea/
build/
*.log
*.iml

# Ignore Gradle GUI config
gradle-app.settinga

web/*.iml
web/build/
web/*.log

repositories/*.iml
repositories/build/
repositories/*.log

services/*.iml
services/build/
services/*.log

gradle/wrapper/gradle-wrapper.jar

gradle/wrapper/gradle-wrapper.properties

gradlew

gradlew.bat

.DS_Store
