<form class="form-2">
    <div>
        <h3>Participación ciudadana</h3>
    </div>
    <div class="formulario">
        <h4>Datos</h4>
        <input type="text" maxlength="50" name="nombre" placeholder="Nombre" value="<%= nombre %>">
        <input type="text" maxlength="50"  name="materno" placeholder="Apellido paterno" value="<%= materno %>">
        <input type="text" maxlength="50"  name="paterno" placeholder="Apellido materno" value="<%= paterno %>">
        <select id="select-municipios" name="select-municipios" required>
        </select>
        <select id="select-localidades" name="select-localidades" required>
        </select>
        <input type="email" maxlength="50"  name="correo" placeholder="Correo electrónico" value="<%= correo %>">
        <input type="text" maxlength="50"  name="telefono" placeholder="Teléfono" value="<%= telefono %>">
        <div>
            <h4>Propuestas</h4>
            <a>a)</a><input class="meta" name="propuesta1" type="text" maxlength="1000" value="<%= propuesta1 %>"><br>
            <a>b)</a><input class="meta" name="propuesta2" type="text" maxlength="1000" value="<%= propuesta2 %>"><br>
            <a>c)</a><input class="meta" name="propuesta3" type="text" maxlength="1000" value="<%= propuesta3 %>"><br>
            <a>d)</a><input class="meta" name="propuesta4" type="text" maxlength="1000" value="<%= propuesta4 %>"><br>
        </div>
        <div class="botones">
            <button id="btn-enviar" class="button" type="button">Enviar</button>
            <button id="btn-cancelar" class="button" type="button">Cancelar</button>
            <button id="btn-consultar" class="button btn-consultar" type="button">Consultar</button>
        </div>
    </div>
</form>