<section class="form-1">
    <form id="form-login">
        <h4>Consultar propuestas</h4>
        <input class="login" type="text" maxlength="40" name="Usuario" placeholder="Usuario" value="<%= username %>">
        <input class="login" type="text" maxlength="6"  name="Contraseña" placeholder="Contraseña" value="<%= password %>">
        <a id="msg-error" class="msg-error">¡Usuario y/o contraseña incorrectos!</a>
        <div class="botones">
            <button id="btn-login" class="buttons" type="button">Ingresar</button>
            <button id="btn-cancelar" class="buttons" type="button">Cancelar</button>
        </div>
    </form>
</section>