<div class="container">
    <div class="container-fluid">
        <div class="navbar-header">
            <a id="home" class="navbar-brand" href="#">lupa</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
            <p class="navbar-text navbar-right">
                <button id="signup" type="button" class="btn btn-warning navbar-btn">Registrar</button>
                <button id="signin" type="button" class="btn btn-default navbar-btn">Ingresar</button>
            </p>
        </div>
    </div>
</div>