server:
  port: 8090
  session-timeout: 60

security.basic.enabled: false
endpoints.shutdown.enabled: true

spring.profiles.active: preprobd
spring.profiles.include: localbmvstorage,devmail

---
spring:
  profiles: devbd

  jpa:
    showSql: true
    dataBase: H2
    hibernate.generateDdl: true

backend:
  admin:
    username: backendadmin
    password: betuzo
    backend.admin.role: BACKEND_ADMIN

---
spring:
  profiles: devpostgresql

  jpa:
    showSql: true
    dataBase: POSTGRESQL
    hibernate.generateDdl: false

  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:postgresql://localhost:5432/propuestadb
    username: postgres
    password: pimienta4

backend:
  admin:
    username: backendadmin
    password: betuzo
    backend.admin.role: BACKEND_ADMIN

---
spring:
  profiles: preprobd

  jpa:
    showSql: false
    dataBase: POSTGRESQL
    hibernate.generateDdl: true

  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://ec2-54-235-127-48.compute-1.amazonaws.com:5432/d7kacbbvksltkt?sslmode=require
    username: taqtlcuaihskrt
    password: qndzh6Iy5dcfnoagfrSmqC6rHb

backend:
  admin:
    username: backendadmin
    password: betuzo
    backend.admin.role: BACKEND_ADMIN

---
spring:
  profiles: googlestorage

lupa:
  web.pathPhoto: photo/
  service.google:
    bucketName: repss-files
    pathWeb: https://storage.googleapis.com/repss-files/photo/

---
spring:
  profiles: localbmvstorage

lupa.web.pathPhoto: /home/betuzo/opt/photo/

---
spring:
  profiles: localhomestorage

lupa.web.pathPhoto: /Users/betuzo/opt/photo/

---
spring:
  profiles: devmail

mail:
  host: smtp.gmail.com
  port: 587
  username: xxxx@gmail.com
  password: xxxx
  from.default: notificacion@lupa.com
  to.default: notificacion@lupa.com
  subject.default: Notificacion lupa
  smtp:
    auth: true
    starttls.enable: true