 <table class="menu">
    <thead>
        <tbody>
            <td>
                <img id="admin" class="menu-action" src="imagenes/Administracion.png" title="Administración">
            </td>
            <td>
                <img id="afiliacion" class="menu-action" src="imagenes/Afiliacion.png" title="Afiliación">
            </td>
            <td>
                <img id="financiento" class="menu-action" src="imagenes/Financiamiento.png" title="Financiamiento">
            </td>
            <td>
                <img id="gestion" class="menu-action" src="imagenes/Gestion.png" title="Gestión">
            </td>
            <td>
                <img id="prospera" class="menu-action" src="imagenes/Propera.png" title="Prospera">
            </td>
            <td>
                <img id="prospectiva" class="menu-action" src="imagenes/Prospectiva.png" title="Prospectiva">
            </td>

            <td>
                <img id="evaluacion" class="menu-action" src="imagenes/Evaluacion-seguimiento.png" title="Evaluación">
            </td>
        </tbody>
    </thead>
</table>