<section class="consulta">
    <div>
        <h4>Selecciona los datos para generar una consulta</h4>
    </div>
    <div class="form-4">
        <select class="select">
            <option value="volvo">Municipio</option>
            <option value="saab">Agua Blanca de Iturbide</option>
            <option value="mercedes">Ajacuba</option>
            <option value="audi">Alfajayucan</option>
        </select>
        <select>
            <option value="volvo">Localidad</option>
            <option value="saab">Agua Blanca de Iturbide</option>
            <option value="mercedes">Ajacuba</option>
            <option value="audi">Alfajayucan</option>
        </select>
    </div>
    <div class="botones">
        <button id="btn-salir" class="button" type="button">Salir</button>
        <button id="btn-consultar" class="button" type="button">Consultar</button>
    </div>
</section>