<section class="consulta">
    <div>
        <h4>Participación ciudadana en el Estado</h4>
    </div>
    <div class="form-4">
        <div id="map"></div>
        <div id="sumary-mun" class="sumary"></div>
        <select id="select-municipios" name="idMunicipio" class="select" required>
        </select>
        <select id="select-localidades" name="idLocalidad" class="select" style="display:none" required>
        </select>

    </div>
    <div class="botones">
        <button id="btn-exit" class="button" type="button">Salir</button>
        <button id="btn-consultar" class="button" type="button">Consultar</button>
    </div>
</section>