<div class="container">
    <div class="container-fluid">
        <div class="navbar-header">
            <a id="home" class="navbar-brand" href="#">lupa</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
            <ul class="nav navbar-nav">
                <li class="active nav-item-lupa">
                    <a href="#admin/perfil">Perfil</a>
                </li>
            </ul>
            <p class="nav navbar-right">
                <button id="logout" type="button" class="btn btn-danger navbar-btn">Salir</button>
            </p>
        </div>
    </div>
</div>