.contenedor {
	width:90%;
	max-width:1000px;
	margin:0 auto;
	overflow:hidden;

}

header {
	background: #DCDBDB;
	margin:9px 0;
	-webkit-border-radius: 5px 5px;
    height: 4.5em;
    padding: .1em;

}

header img {
	margin-right:10px;
	padding:10px;
	box-sizing: border-box;
}

footer {
	clear: both;
	float: left;
	box-sizing: border-box;
	width: 100%;
	background: #DCDBDB;
    padding: 1em;
	margin: 0 auto;
    text-align: center;
	-webkit-border-radius: 5px 5px;

}

footer a{
	color: rgba(110, 110, 110, 0.65);
	font-size: 9pt;
}

picture a {
	color: #6E6E6E;
	font-size: 10pt;
}

.has-error {
    border-color: red !important;
    border-style: solid !important;
}

.form-1 {
    /* Size & position */
    width: 300px;
    margin: 60px auto 60px;
    padding: 10px;
    position: relative; /* For the submit button positioning */
    border-radius: 5px;
    background: linear-gradient(#FAFAFA, #ffffff 10%);
}

.form-1 h3{
	color:#6E6E6E;
	font-size: 14pt;
	padding-left: 2.4em;
}

.form-1 .field {
    position: relative; /* For the icon positioning */
}

.form-1 input[type=text],
.form-1 input[type=password] {
    width: 25em;
    margin: .4em;
    /* margin-left: 1em; */
    border-radius: .4em;
    height: 2em;
    padding: .4em;
}
}

.form-1 .submit {
    /* Size and position */
    width: 45px;
    height: 45px;
    position: absolute;
    top: 4em;
    right: -23px;
    padding: 10px;
    z-index: 2;

    /* Styles */
    background: #ffffff;
    border-radius: 50%;
    box-shadow:
        0 0 2px rgba(0,0,0,0.1),
        0 3px 2px rgba(0,0,0,0.1),
        inset 0 -3px 2px rgba(0,0,0,0.2);
}

.form-1 button {
    border: none;
    background: #DCDBDB;
    color: #0A0A0A;
    padding: .7em;
    font-size: 9pt;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    cursor: pointer;
    border-style: groove;
}


.form-1 .botones {
    padding: 1.5em;
    padding-left: 4.8em;
}

.form-1 .field i {
    /* Size and position */
    left: 0px;
    top: 0px;
    position: absolute;
    height: 36px;
    width: 36px;

    /* Line */
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);

    /* Styles */
    color: #777777;
    text-align: center;
    line-height: 42px;
    transition: all 0.3s ease-out;
    pointer-events: none;
}

.form-1 h4 {
    text-align: center;
}

.form-1 .msg-error{
    text-align: center;
    padding-left: 5em;
}


header picture {
    margin-left: 7em;
}

.form-2 {
    /* Size & position */
    width: 93%;
    margin: 40px auto 30px;
    padding: 10px;
    position: relative; /* For the submit button positioning */
    border-radius: 5px;
    background: linear-gradient(rgba(250, 250, 250, 0.81), #ffffff 10%); /*linear-gradient(rgba(226, 226, 226, 0.77), #ffffff 10%);*/
    box-sizing: border-box;

}

.form-2 a {
    padding-bottom: 4em;
    font-size: 11pt;
    font-family: sans-serif;
    color: #7D7878;
    padding-left: 1em;
}

.form-2 h3 {
    padding-left: 1em;
}

.form-2 img {
    width: 100%;
    height: auto;
    padding-left: .5em;
}

div .update {
    width: 100%;
    height: auto;
}

div .icono {
    width: 60px;
    height: 60px;
    padding: .5em;
}

.icon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    padding-right: 1em;
    padding-top: 1em;
    cursor:pointer;
}
.table {
    width: 100%;
    padding-top: 1em;
    font-size: 11pt;
    font-family: sans-serif;
    color: #7D7878;

}
.table td {
    border-width: .2em;
    border-color: #E8E8E8;
    border-style: solid;
    text-align: center;
    border-top-width: thick;
}

 .msg-error {
     font-size: 9pt;
     font-family: sans-serif;
     color: red;
 }

.menu {
    padding: 2em;
}

.menu td {
    border-width: .2em;
    border-color: #E8E8E8;
    /* border-style: solid; */
    text-align: center;
    height: 2em;
    /* border-top-width: thick; */
    width: 5em;
    padding: 1.2em;
    border-radius: 1em;
}

.menu td img{
   padding-left: 0em;
   cursor: pointer;
}

.formulario {
    margin: 1em;
}

.formulario input{
    width: 35em;
    margin: .3em;
    margin-left: 1em;
    border-radius: .4em;
    padding: .4em;

}

.formulario .login {
    height: 2em;
    border-style: inset;
    width: 20em;
}

.formulario h4 {
    padding-left: 1em;
}

.formulario .meta {
     width: 68em;
}

.formulario .indicador {
     width: 53.4em;
}


.fas {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 1em;
    cursor: pointer;
}

.formulario .tacticas {
    padding: 2em;
}

.formulario .responsable {
     width: 51em;
}

.formulario .periodo {
     width: 54.3em;
}

.formulario .resultado {
     width: 53em;
}

.formulario .button {
    border: none;
    background: #DCDBDB;
    color: #0A0A0A;
    padding: .7em;
    font-size: 9pt;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    cursor: pointer;
    border-style: groove;
}

.formulario .botones {
    padding-left: 1em;
    padding-bottom: 1em;
    padding-top: 2em;
}

.formulario .btn-consultar {
    float: right;
}

.form-2 h3 {
    text-align: center;
}

.menu-select {
    border-width: .1em;
    border-color: #E8E8E8;
    border-style: solid;
    text-align: center;
    height: 2em;
    border-top-width: thick;
    width: 5em;
    padding: 1.2em;
    border-radius: 1em;
}

select {
    border-style: dotted;
    height: 2.5em;
    width: 17.5em;
    margin-left: .9em;

}

.cuentame {
    width: 21em;
    float: left;
    margin-left: 2em;
}

.gober {
    float: right;
    margin-right: 3em;
}

.form-3 {
    /* Size & position */
    width: 93%;
    margin: 40px auto 30px;
    padding: 10px;
    position: relative; /* For the submit button positioning */

    /* Styles */
    box-shadow:
        0 0 1px rgba(0, 0, 0, 0.3),
        0 3px 7px rgba(0, 0, 0, 0.3),
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: linear-gradient(#FAFAFA, #ffffff 10%);
    box-sizing: border-box;

}

.consulta {
    width: 93%;
    margin: 40px auto 30px;
    padding: 10px;
    position: relative;
    border-radius: 5px;
    background: linear-gradient(#FAFAFA, #ffffff 10%);
}

.consulta .button {
    border: none;
    background: #DCDBDB;
    color: #0A0A0A;
    padding: .7em;
    font-size: 9pt;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    cursor: pointer;
    border-style: groove;
    float: right;
    margin: .2em;

}

.consulta .botones {
    padding-right: 2em;
    padding-bottom: 3em;
    padding-top: 2em;
}

.consulta h4 {
    text-align: center;
}

.consulta .select {
    padding-left: 28%;
}

.form-4 {
    /* Size & position */
    width: 230px;
    margin: 60px auto 20px;
    position: relative; /* For the submit button positioning */
    border-radius: 5px;
}

.form-4 .select {
    margin: 1em;
}


@media screen and (max-width: 1200px) {
    .contenedor {
        width: 100%;
    }
    .menu td{
        padding: 0em;
        border-style: none;
        height: 0em;
    }
    .formulario input {
        width: 20em;
    }
    .formulario .meta {
        width: 15.8em;
    }
    .formulario .indicador {
        width: 13.3em;
    }

    .formulario .responsable {
     width: 20em;
    }

    .formulario .periodo {
         width: 14em;
    }

    .formulario .resultado {
         width: 12.8em;
    }

    select {
    width: 20.7em;
    }

    .cuentame {
    width: 8em;
    float: left;
    margin-left: .5em;
    }

    .gober {
    width: 8em;
    margin-right: .5em;
    }

    .consulta .select {
    padding-left: 14%;
}

}
