.contenedor {
	width:90%;
	max-width:1000px;
	margin:0 auto;
	overflow:hidden;

}

header {
	background:#FAFAFA;
	margin:9px 0;
	position:center;
	-webkit-border-radius: 5px 5px;

}

header img {
	margin-right:10px;
	padding:10px;
	box-sizing: border-box;
}

footer {
	clear: both;
	float: left;
	margin-top: 20px;
	box-sizing: border-box;
	width: 100%;
	padding: 20px;
	background:#FAFAFA;
	margin:20px 0;
	position: center;
	-webkit-border-radius: 5px 5px;

}

footer a{
	color:#6E6E6E;
	font-size: 9pt;
}

picture a {
	color: #6E6E6E;
	font-size: 10pt;
}

.has-error {
    border: 2px solid red !important;
}

.form-1 {
    /* Size & position */
    width: 300px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative; /* For the submit button positioning */

    /* Styles */
    box-shadow:
        0 0 1px rgba(0, 0, 0, 0.3),
        0 3px 7px rgba(0, 0, 0, 0.3),
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: linear-gradient(#FAFAFA, #ffffff 10%);
}

.form-1 h3{
	color:#6E6E6E;
	font-size: 14pt;
	padding-left: 2.4em;
}

.form-1 .field {
    position: relative; /* For the icon positioning */
}

.form-1 input[type=text],
.form-1 input[type=password] {
    font-size: 13px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);

    /* Size and position */
    width: 78%;
    padding: 10px 18px 10px 45px;

    /* Styles */
    border: none; /* Remove the default border */
    box-shadow:
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #f9f9f9;
    color: #777;
    transition: color 0.3s ease-out;
}

.form-1 .submit {
    /* Size and position */
    width: 45px;
    height: 45px;
    position: absolute;
    top: 4em;
    right: -23px;
    padding: 10px;
    z-index: 2;

    /* Styles */
    background: #ffffff;
    border-radius: 50%;
    box-shadow:
        0 0 2px rgba(0,0,0,0.1),
        0 3px 2px rgba(0,0,0,0.1),
        inset 0 -3px 2px rgba(0,0,0,0.2);
}

.form-1 button {
    /* Size and position */
    width: 100%;
    height: 100%;
    margin-top: -1px;

    /* Icon styles */
    font-size: 1.4em;
    line-height: 1.75;
    color: white;

    /* Styles */
    border: none; /* Remove the default border */
    border-radius: inherit;
    background: linear-gradient(#607D70, #107A49);
    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.3),
        0 1px 2px rgba(0,0,0,0.35),
        inset 0 3px 2px rgba(255,255,255,0.2),
        inset 0 -3px 2px rgba(0,0,0,0.1);

    cursor: pointer;
}

.form-1 button:hover,
.form-1 button[type=submit]:focus {
    background: #B53838;
}

.form-1 button:active {
    background: #42A2BC;
    box-shadow:
        inset 0 0 5px rgba(0,0,0,0.3),
        inset 0 3px 4px rgba(0,0,0,0.3);
}

.form-1 .field i {
    /* Size and position */
    left: 0px;
    top: 0px;
    position: absolute;
    height: 36px;
    width: 36px;

    /* Line */
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);

    /* Styles */
    color: #777777;
    text-align: center;
    line-height: 42px;
    transition: all 0.3s ease-out;
    pointer-events: none;
}

header picture {
    margin-left: 7em;
}

.form-2 {
    /* Size & position */
    width: 93%;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative; /* For the submit button positioning */

    /* Styles */
    box-shadow:
        0 0 1px rgba(0, 0, 0, 0.3),
        0 3px 7px rgba(0, 0, 0, 0.3),
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: linear-gradient(#FAFAFA, #ffffff 10%);
    box-sizing: border-box;

}

.form-2 a {
    padding-bottom: 4em;
    font-size: 11pt;
    font-family: sans-serif;
    color: #7D7878;
    padding-left: 1em;
}

.form-2 img {
    width: 100%;
    height: auto;
    padding-left: .5em;
}

div .update {
    width: 100%;
    height: auto;
}

div .icono {
    width: 60px;
    height: 60px;
    padding: .5em;
}

.icon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    padding-right: 1em;
    padding-top: 1em;
    cursor:pointer;
}
.table {
    width: 100%;
    padding-top: 1em;
    font-size: 11pt;
    font-family: sans-serif;
    color: #7D7878;

}
.table td {
    border-width: .2em;
    border-color: #E8E8E8;
    border-style: solid;
    text-align: center;
    border-top-width: thick;
}

 .msg-error {
     font-size: 9pt;
     font-family: sans-serif;
     color: red;
 }

.menu {
    padding: 2em;
}

.menu td {
    border-width: .2em;
    border-color: #E8E8E8;
    /* border-style: solid; */
    text-align: center;
    height: 2em;
    /* border-top-width: thick; */
    width: 5em;
    padding: 1.2em;
    border-radius: 1em;
}

.menu td img{
   padding-left: 0em;
   cursor: pointer;
}

.hidden {
   display: none;
}


.menu-select {
    border-width: .1em;
    border-color: #E8E8E8;
    border-style: solid;
    text-align: center;
    height: 2em;
    border-top-width: thick;
    width: 5em;
    padding: 1.2em;
    border-radius: 1em;
}

@media screen and (max-width: 1200px) {
    .contenedor {
        width: 100%;
    }
    .menu td{
        padding: 0em;
        border-style: none;
        height: 0em;

    }
}