<div class="row">
    <div class="col-sm-6 col-md-6">
        <div class="thumbnail">
            <img id="preview-photo" src="<%= pathLogo %>" alt="...">
            <div class="caption">
                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <input id="file-es" name="filelogo" type="file" accept="image/*">
                    <button id="btn-upload" type="button" class="btn btn-default">Cambiar</button>
                    <button id="btn-confirm" type="button" class="btn btn-default">Confirmar</button>
                    <button id="btn-cancel" type="button" class="btn btn-default">Cancelar</button>
                    <button id="btn-delete" type="button" class="btn btn-default">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>